# Virtual environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db


MyNotes/Samad-E-Pass.pdf